<form method="post" action="{{ path('publicacion_delete', {'id': publicacion.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ publicacion.id) }}">
    <button class="btn">Delete</button>
</form>
