{% extends 'base.html.twig' %}

{% block title %}Edit Publicacion{% endblock %}

{% block body %}
    <h1>Edit Publicacion</h1>

    {{ include('publicacion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('publicacion_index') }}">back to list</a>

    {{ include('publicacion/_delete_form.html.twig') }}
{% endblock %}
